﻿@model BLL.DTO.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("LoginAsync", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="form-login">
        <h1>Login</h1>
        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email or username", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="Sign in" class="btn btn-success login-btn" />
                <p>Don`t have an account? @Html.ActionLink("Sign up", "Register", "Account")</p>
            </div>
        </div>
    </div>
}