﻿@model BLL.DTO.RegisterModel

@{
    ViewBag.Title = "Registration";
}

@using (Html.BeginForm("RegisterAsync", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="form-register">
        <h1>Registration</h1>
        <div class="form-group">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Name", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="Sign up" class="btn btn-success register-btn" />
                <p>Already have an account? @Html.ActionLink("Sign in", "Login", "Account")</p>
            </div>
        </div>
    </div>
}