﻿@model BLL.DTO.UserModel

@{
    ViewBag.Title = "Show personal information";
}

<div class="ShowData-form">
    <h2>Your personal information</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
            @if (Model.Phone == null)
            {
                <span>-</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIO):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIO)
            @if (Model.BIO == null)
            {
                <span>-</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
            @if (Model.DateOfBirth == null)
            {
                <span>-</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>
    <p>To edit personal information click @Html.ActionLink("here", "ChangeData", "Account")</p>
    <p>
        To delete account click @Html.ActionLink("here", "DeleteCurrentUserAsync", "Account", new { @class = "text-danger" })
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </p>
    
</div>