﻿@{
    ViewBag.Title = "Not Found";
}

<div class="notfound-wrapper">
    <h1>Oops!</h1>
    <h2>404 - Page not found</h2>
    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
    @Html.ActionLink("Go To Homepage", "Index", "Home")
</div>