﻿@using System.Web.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="@Scripts.Url("~/Scripts/jquery-3.4.1.js")"></script>
    <link href="@Styles.Url("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("File Storage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Index", "Review")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Change personal information", "ChangeData", "Account")</li>
                    }
                    @if (this.User.IsInRole("admin"))
                    {
                        @Html.Partial("AdminPartial")
                    }
                    else if (this.User.IsInRole("user"))
                    {
                        @Html.Partial("UserPartial")
                    }
                </ul>
                @Html.Partial("LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="page-footer font-small special-color-dark pt-4">
        <div class="container">
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating mx-1 social-networks" href="https://www.facebook.com/FileStorage" target="_blank">
                        <img src="~/Content/Images/SocialMediaIcons/facebook.png" alt="Facebook" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating mx-1 social-networks" href="https://www.instagram.com/file_storage/" target="_blank">
                        <img src="~/Content/Images/SocialMediaIcons/instagram.png" alt="Instagram" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating mx-1 social-networks" href="https://www.linkedin.com/company/filestorage/" target="_blank">
                        <img src="~/Content/Images/SocialMediaIcons/linkedin.png" alt="LinkedIn" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating mx-1 social-networks" href="https://twitter.com/Opacity_Storage" target="_blank">
                        <img src="~/Content/Images/SocialMediaIcons/twitter.png" alt="Twitter" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-copyright text-center py-3">
            <p>&copy; @DateTime.Now.Year - All rights reserved. Alexander Myroshnychenko</p>

        </div>
    </footer>

    @if (Request.Url.PathAndQuery == "/FileUpload/Index")
    {
        <script src="@Scripts.Url("~/Scripts/MyScript.js")"></script>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>