﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="notfound-wrapper">
        <h1>Opps</h1>
        <h2>Something went wrong:(</h2>
        <p>Please tell about this mistake to developer of this web-application.</p>
        <a href="mailto:miron7161@gmail.com?subject=File Storage Error">Notify developer</a>
        @Html.ActionLink("Go To Homepage", "Index", "Home")
    </div>
</body>
</html>
