﻿@{
    ViewBag.Title = "Upload file";
}

<div class="uploading-form">

    @using (Html.BeginForm("UploadFileAsync", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
    <div class="text-fields">
        @Html.TextBox("Name", null, htmlAttributes: new { placeholder = "File`s name", pattern = "[^<>]+" })
        @Html.TextBox("Description", null, htmlAttributes: new { placeholder = "Description...", pattern = "[^<>]+" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="privacy">
        @Html.CheckBox("Privacy")
        <label>Private</label>
    </div>


        <div class="upload-file">
            @Html.TextBox("upload", null, new { type = "file", id = "file", @class = "upload-file", required = true })
            <label for="file">
                Select file
            </label>
            <p class="file-name-and-size">Invisible text for name and size of uploaded file</p>
        </div>
        <div class="button-wrapper">
            <button class="upload-button" id="submit" disabled>Upload</button>
        </div>
    }
</div>