﻿/*---------------------------------------------------------*/
/*-------------------------SHARED--------------------------*/
/*---------------------------------------------------------*/

body {
    background-image: url(Images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.social-networks img {
    border: 1px solid black;
    border-radius: 7px;
}

.social-networks img:active {
    border-color: blue;
}

footer {
    padding-top: 20px;
    background-color: rgb(34,34,34);
    margin-bottom: -30px;
    padding-bottom: 5px;
    color: #fffff6;
}

/*---------------------------------------------------------*/
/*---------------------HOME/INDEX--------------------------*/
/*---------------------------------------------------------*/

.title {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.title h1 {
    font-size: 100px;
    color: #fffff6;
    font-family: 'monospace';
}

/*---------------------------------------------------------*/
/*--------------------FILEUPLOAD/INDEX---------------------*/
/*---------------------------------------------------------*/

.uploading-form {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.text-fields input {
    display: block;
    width: 100%;
    padding-left: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #E9EFF6;
    height: 50px;
    font-size:20px;
    border-width: 0;
    border-radius: 10px;
}

.privacy label {
    font-size: 20px;
}

.upload-file input {
    display: none;
}

.upload-file label {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #3EACBA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.file-name-and-size {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin-bottom: 30px;
    visibility: hidden;
}

.button-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.upload-button {
    padding: 10px 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.upload-button:hover {
    background-color: #3e8e41
}

.upload-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*---------------------------------------------------------*/
/*---------------------REVIEW/INDEX------------------------*/
/*---------------------------------------------------------*/

.form-review {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.form-inner-review {
    padding: 10px 10px;
}

.form-inner-review input {
    display: block;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 10px;
}

.send-review-button {
    border: none;
    color: white;
    padding: 12px 32px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
    background-color: #04AA6D;
}

.send-review-button:hover {
    background-color: #46a049;
}

.reviews-wrapper {
    padding-bottom: 250px;
    margin-top: 16px;
}

.review-container {
    position: relative;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    width: 90%;
    margin-left: 5%;
}

.review-container span {
    font-size: 20px;
    margin-right: 15px;
}

span .review-role{
    font-size:12px;
    color:red;
}

.deleteReview{
    position: absolute;
    right: 10px;
    top: 5px;
}

/*---------------------------------------------------------*/
/*---------------------ACCOUNT/REGISTER--------------------*/
/*---------------------------------------------------------*/
.form-register {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 5px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
}

.form-register h1{
    text-align: center;
    margin-bottom: 40px;
}

.register-btn {
    margin-bottom: 10px;
}

/*---------------------------------------------------------*/
/*----------------------ACCOUNT/LOGIN----------------------*/
/*---------------------------------------------------------*/

.form-login {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 10px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5%;
}

.form-login h1 {
    text-align: center;
    margin-bottom: 40px;
}

.login-btn{
    margin-bottom: 7px;
}

/*---------------------------------------------------------*/
/*--------------ADMIN/ViewAllUsersData--------------------*/
/*---------------------------------------------------------*/

.user-info-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.user-info-form h2 {
    text-align: center;
}

/*---------------------------------------------------------*/
/*--------------------ACCOUNT/ChangeData-------------------*/
/*---------------------------------------------------------*/

.user-edit-info-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.user-edit-info-form h2 {
    text-align: center;
}

/*---------------------------------------------------------*/
/*--------------------ACCOUNT/ShowData---------------------*/
/*---------------------------------------------------------*/

.ShowData-form {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.ShowData-form h2 {
    text-align: center;
}

.ShowData-form dt{
    font-size:20px;
}

.ShowData-form dd{
    font-size:18px;
}

/*---------------------------------------------------------*/
/*--------------------USER/ViewUserFiles-------------------*/
/*---------------------------------------------------------*/

.filesList-form {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.filesList-form h2 {
    text-align: center;
}

/*---------------------------------------------------------*/
/*--------------------ADMIN/ViewAllFiles-------------------*/
/*---------------------------------------------------------*/

.allFiles-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.allFiles-form h2 {
    text-align: center;
}

/*---------------------------------------------------------*/
/*-----------------------USER/ShowFile---------------------*/
/*---------------------------------------------------------*/

.FileDetails-form {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}

.FileDetails-form h2 {
    text-align: center;
}

.dl-horizontal{
    font-size: 18px;
}

.downloadButton{
    color: green;
}

.deleteButton {
    color: red;
}

/*---------------------------------------------------------*/
/*---------------------NOT-FOUND-404-----------------------*/
/*---------------------------------------------------------*/
.notfound-wrapper {
    text-align: center;
    margin-top: 9%;
    margin-bottom: 9%;
    font-family: 'monospace';
}

.notfound-wrapper h1 {
    font-size: 200px;
    color: #fffff6;
}

.notfound-wrapper h2 {
    color: white;
}

.notfound-wrapper p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.notfound-wrapper a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.notfound-wrapper a:hover{
    background-color: #0053ff;
}