﻿@model BLL.DTO.FileModel

@{
    ViewBag.Title = "File Details";
}

<div class="FileDetails-form">
    @if (this.Model.IsPrivate == "Yes" && this.Model.UserName != this.User.Identity.Name)
    {
        <h2>This file is private</h2>
    }
    else
    {
        <h2>File "@Html.DisplayFor(model => model.NameSetByUser)"</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
                @if (Model.Description == String.Empty)
                {
                    <span>-</span>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfUploading):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfUploading)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsPrivate):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsPrivate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Download", "DownloadAsync", new { Id = this.Model.Id }, new { @class = "downloadButton" })
            @if (this.Model.UserName == this.User.Identity.Name)
            {
                <span>|</span>
                @Html.ActionLink("Delete", "DeleteAsync", new { Id = this.Model.Id }, new { @class = "deleteButton" });
                <span>|</span>
                @Html.ActionLink("Back", "ViewUserFilesAsync");
            }

        </p>
    }
</div>

