﻿@model IEnumerable<BLL.DTO.FileModel>

@{
    ViewBag.Title = "My files";
}

<div class="filesList-form">
    <h2>Your files</h2>
    @using (Html.BeginForm("GetFilesWithFilterAsync", "User"))
    {
        <p>
            @Html.TextBox("searchFilter", null, htmlAttributes: new { placeholder = "I`m looking for...", pattern = "[^<>]+" })
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSetByUser)
                </td>
                <td>
                    @Html.ActionLink("Download", "DownloadAsync", new { Id = item.Id }, new { @class = "downloadButton" }) |
                    @Html.ActionLink("Delete", "DeleteAsync", new { Id = item.Id }, new { @class = "deleteButton" }) |
                    @Html.ActionLink("File Details", "FileDetailsAsync", new { Id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
</div>