﻿@{
    ViewBag.Title = "Home";
}

<div class="title">
    @if (this.User.IsInRole("admin"))
    {
        <h1>Welcome home, admin!</h1>
    }
    else
    {
        <h1>Welcome to the File Storage!</h1>
    }
</div>
