﻿@model List<BLL.DTO.ReviewModel>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Reviews";
}

<article class="form-review">
    <h1>Leave your comment here</h1>
    @using (Html.BeginForm("AddReviewAsync", "Review", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-inner-review">
            <label>Username: </label>
            @if (Request.IsAuthenticated)
            {
                @Html.TextBox("name", null, htmlAttributes: new { Value = User.Identity.GetUserName(), disabled = true })
            }
            else
            {
                @Html.TextBox("name", null, htmlAttributes: new { placeholder = "Your name", required = true, pattern = "[^<>]+" })
            }

        </div>
        <div class="form-inner-review">
            <label>Your review: </label>
            @Html.TextBox("text", null, htmlAttributes: new { placeholder = "Write something...", pattern = "[^<>]+", required = true })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div>
            <button class="send-review-button">Send</button>
        </div>
    }
</article>

<div class="reviews-wrapper">
    @foreach (var item in Model)
    {


<div class="review-container">
        @if (Request.IsAuthenticated && (item.UserId == ViewBag.CurrentUserId || ViewBag.IsAdmin))
        {
            <div class="deleteReview">
                @Html.ActionLink("Delete", "DeleteReviewAsync", new { reviewId = item.Id }, new { @class = "deleteButton" })
            </div>
        }
        <p>
            <span>
                @Html.DisplayFor(modelItem => item.Username)
                <span class="review-role">@Html.DisplayFor(modelItem => item.Role)</span>
            </span>
            @Html.DisplayFor(modelItem => item.DateTime)
        </p>
        <p>@Html.DisplayFor(modelItem => item.Text)</p>
    </div>
    }
</div>