﻿@model BLL.DTO.RegisterModel

@{
    ViewBag.Title = "Registration (admin)";
}

@using (Html.BeginForm("RegisterNewAdminAsync", "Admin"))
{
    @Html.AntiForgeryToken()

    <div class="form-register">
        <h1>Creating admin account</h1>
        <div class="form-group">
            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", pattern = "[^<>]+" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="button-wrapper">
                <input type="submit" value="Create" class="btn btn-success register-btn" />
            </div>
        </div>
    </div>
}