﻿@model IEnumerable<BLL.DTO.UserModel>

@{
    ViewBag.Title = "All users";
}

<div class="user-info-form">
    <h2>Users` info</h2>
    @using (Html.BeginForm("GetUsersWithFilterAsync", "Admin"))
    {
        <p>
            @Html.TextBox("searchFilter", null, htmlAttributes: new { placeholder = "I`m looking for...", pattern = "[^<>]+" })
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                    @if (item.Phone == null)
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BIO)
                    @if (item.BIO == null)
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                    @if (item.DateOfBirth == null)
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>

                    @if (item.RoleId != ViewBag.AdminId)
                    {
                        @Html.ActionLink("View files", "ViewUserFilesAsync", new { id = item.Id });
                        @Html.Label("|");
                        @Html.ActionLink("Delete", "DeleteUserAsync", "Admin", new { id = item.Id }, new { @class = "deleteButton" })
                    }
                </td>
            </tr>
        }

    </table>
    <p>
        To create account for another admin, click @Html.ActionLink("here", "RegisterNewAdmin", null, new { @class = "text-success" })
    </p>
</div>