﻿@model IEnumerable<BLL.DTO.FileModel>

@{
    ViewBag.Title = "Files of " + @ViewBag.UserName;
}

<div class="filesList-form">
    <h2>Files of @ViewBag.UserName</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUploading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameSetByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfUploading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPrivate)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadAsync", new { Id = item.Id }, new { @class = "downloadButton" }) |
            @Html.ActionLink("Delete", "DeleteFileFromUserFilesPageAsync", new { fileId = item.Id, userId = ViewBag.UserId }, new { @class = "deleteButton" })
        </td>
    </tr>
        }

    </table>
</div>