﻿@model IEnumerable<BLL.DTO.FileModel>

@{
    ViewBag.Title = "All files";
}

<div class="allFiles-form">

    <h2>All files</h2>
    @using (Html.BeginForm("GetFilesWithFilterAsync", "Admin"))
    {
        <p>
            @Html.TextBox("searchFilter", null, htmlAttributes: new { placeholder = "I`m looking for...", pattern = "[^<>]+" })
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUploading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
            @if (item.Description == String.Empty)
            {
                <span>-</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfUploading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPrivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadAsync", new { Id = item.Id }, new { @class = "downloadButton" }) |
            @Html.ActionLink("Delete", "DeleteFileFromAllFilesPageAsync", new { fileId = item.Id, userId = item.UserId }, new { @class = "deleteButton" }) |
            @Html.ActionLink("All user`s files", "ViewUserFilesAsync", new { id = item.UserId })
        </td>
    </tr>
        }

    </table>
</div>